<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>任务系统</title>
    <link rel="stylesheet" href="css/style.css">
    <script src="js/vue.js"></script>
</head>
<body>
   <div id="app" class="box">
       <div class="left">
           <template v-for="(getname, index) in list" >
               <a href="####" @click="showtask(index)">{{getname.name}}{{alllenghth(index)}}</a>
               <a href="####" class="foradelete"@click="deletelist(index)">X</a>
               <a href="####" class="foradd"@click="addlist"> +</a><br>
               <template v-if="getname.taskshow" v-for="(task, taskindex) in list[index].task" >
                  <a href="####" class="taskleft" @click="detailshow(index,taskindex)">{{task}}{{getname.detail[taskindex].id.length}}</a>
                  <a href="####" class="foradelete"@click="deletetask(index,taskindex)">X</a>
                  <a href="####" class="foradd"@click="addtask(index)"> +</a><br>
                  <template v-if="getname.details[taskindex].show" v-for="(inf, detailindex) in list[index].detail[taskindex].id" >
                    <a href="####" class="detailsleft" @click="showinf(index,taskindex,detailindex)" >{{inf}}</a>
                    <a href="####" class="foradelete"@click="deletedetail(index,taskindex,detailindex)">X</a>
                    <a href="####" class="foradd"@click="adddetail(index,taskindex)">+</a><br>
                    
                  </template>
               </template>
           </template>
           <div class="addlist">增加项目</div>
           </div>
       <div class="middle"> 
           <template v-for="(item, index) in information[indexcount].tasknm[taskcount].detailnum" >
          <a>{{item.title}}</a>
           </template>
       </div>
      
       <div  class="right">
          <input type="text" v-model="hearder"> <br>
          <input type="text" v-model="middletime"><br>
          <input type="text" v-model="textartic"><br>
          <button @click='save'>保存</button>
          <button @click='change'>新添保存</button>
       </div>
   </div>
</body>
<script>
var vm = new Vue({
    el:'#app',
    data:{
        list:[{name:'正常任务',task:['任务一','任务二',],detail:[{id:['task1']},{id:['task2']}], taskshow:false, details:[{show:false},{show:false}]}],
       information:[{tasknm:[{detailnum:[{title:'s',fortime:'s',article:'s'}]},{detailnum:[{title:'d',fortime:'d',article:'d'}]}]}],
       hearder:'',
        middletime:'',
       textartic:'',
        indexcount:0,
        taskcount:0,
        detailcount:'',
        addisindex:'',
        addistk:'',
        addisislg:'',
    },
    methods: {
        addlist:function(){
           var gettext = window.prompt("请输入分类名");
           this.list.push({name:'gettext',task:[],detail:[{id:[]}], taskshow:false, details:[]});
           this.information.push({tasknm:[]});
        },
        addtask:function(index){
            var gettext = window.prompt("请输入分类名");
            this.list[index].task.push(gettext);
            this.list[index].details.push({show:false})
            this.list[index].detail.push({id:[]});
            this.information[index].tasknm.push({detailnum:[]});
        },
        adddetail:function(index,taskindex){
            var gettext = window.prompt("请输入分类名");
         this.list[index].detail[taskindex].id.push(gettext);
         this.information[index].tasknm[taskindex].detailnum.push({title:'0',fortime:'0',article:'0'});
         this.addislg=this.information[index].tasknm[taskindex].detailnum.length-1; 
         this.addistk=taskindex;
         this.addisindex=index; 
        },
        deletelist:function(index){
            this.list.splice(index,1);
        },
        deletetask:function(index,taskindex){
            this.list[index].task.splice(taskindex,1);
        },
        deletedetail:function(index,taskindex,detailindex){
            this.list[index].detail[taskindex].id.splice(detailindex,1)
        },
        showtask:function(index){
            if(this.list[index].taskshow===false){
                this.list[index].taskshow=true;
            }else{
                this.list[index].taskshow=false;
            }
            
        },
        detailshow:function(index,taskindex){
            if(this.list[index].details[taskindex].show===false){  
                this.list[index].details[taskindex].show=true;
            }else{
                this.list[index].details[taskindex].show=false;
            }
            this.indexcount=index;
            this.taskcount=taskindex;
        },
        showinf:function(index,taskindex,detailindex){
            var which=this.information[index].tasknm[taskindex].detailnum[detailindex]
            this.hearder=which.title;
            this.middletime=which.fortime;
            this.textartic=which.article;
            this.indexcount=index;
            this.taskcount=taskindex;
            this.detailcount=detailindex;   
        },
        change:function(){
            var a =this.information[this.addisindex].tasknm[this.addistk].detailnum[this.addislg];
              a.title=this.hearder;
              a.fortime=this.middletime;
              a.article=this.textartic;
        },
        save:function(){
              var a =this.information[this.indexcount].tasknm[this.taskcount].detailnum[this.detailcount];
              a.title=this.hearder;
              a.fortime=this.middletime;
              a.article=this.textartic;
        },
        alllenghth:function(index){ //总长度计算
            var count=0;
            for(i=0;i<this.list[index].task.length;i++){
                count+=this.list[index].detail[i].id.length
            };
            return count;
        }

    },
  
        
})
</script>
</html>